[Unit]
Description=webhook service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=webhook
ExecStart=/usr/bin/webhook -hooks /var/webhook/hooks.json

[Install]
WantedBy=multi-user.target
